@using GameOnline.Core.ExtenstionMethods
@model GameOnline.Core.ViewModels.ProductViewmodel.Client.DetailProductViewmodel
@{
}
<main class="contentM">
    <div class="container">
        <div class="product-page">
            <article class="js-product">
                <div class="product-nav-container">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb px-0">
                            <li class="breadcrumb-item"><a href="#">فروشگاه اینترنتی دیجی استور</a></li>
                            <li class="breadcrumb-item">
                                <a href="#">
                                    @Html.Raw(Model.DetailProduct.CategoryFa)
                                </a>
                            </li>
                        </ol>
                    </nav>
                    <div class="product-ext-links">
                        <a href="#" class="product-ext-link">
                            کالای خود را در دیجی‌استور بفروشید <i class="mdi mdi-storefront"></i>
                        </a>
                    </div>
                </div>
                <div class="col-lg-4 col-md-12 col-xs-12 pull-right">
                    <div class="product-gallery">
                        <img class="zoom-img" id="img-product-zoom"
                             src="@PathTools.PathProductImageClient/@Html.Raw(Model.DetailProduct.ImageName)"
                             data-zoom-image="@PathTools.PathProductImageClient/@Html.Raw(Model.DetailProduct.ImageName)" width="411"
                             alt="img-slider" />
                        <div id="gallery_01f" style="width:420px;float:right;">
                            <ul class="gallery-items owl-carousel owl-theme" id="gallery-slider">
                                <li class="item">
                                    <a href="#" class="elevatezoom-gallery active" data-update=""
                                       data-image="@PathTools.PathProductImageClient/@Html.Raw(Model.DetailProduct.ImageName)"
                                       data-zoom-image="@PathTools.PathProductImageClient/@Html.Raw(Model.DetailProduct.ImageName)">
                                        <img src="@PathTools.PathProductImageClient/@Html.Raw(Model.DetailProduct.ImageName)" width="100"
                                             alt="img-slider" />
                                    </a>
                                </li>
                                @foreach (var item in Model.GetProductGalleries)
                                {
                                    <li class="item">
                                        <a href="#" class="elevatezoom-gallery active" data-update=""
                                           data-image="@PathTools.PathGalleryImageClient@Html.Raw(item.ImageName)"
                                           data-zoom-image="@PathTools.PathGalleryImageClient@Html.Raw(item.ImageName)">
                                            <img src="@PathTools.PathGalleryImageClient@Html.Raw(item.ImageName)" width="100"
                                                 alt="img-slider" />
                                        </a>
                                    </li>
                                }
                            </ul>
                        </div>
                        <div class="gallery-item">
                            <ul class="gallery-options">
                                <li class="option-wishes">
                                    <button class="btn-option btn-option-wishes">
                                        <i class="mdi mdi-heart-outline"></i>
                                        <span class="tooltip-short">افزودن به علاقه‌مندی</span>
                                    </button>
                                </li>
                                <li class="option-social">
                                    <button class="btn-option btn-option-social" data-toggle="modal"
                                            data-target="#exampleModalCenter">
                                        <i class="mdi mdi-share-outline"></i>
                                        <span class="tooltip-short">اشتراک گذاری</span>
                                    </button>
                                </li>
                                <li class="option-alarm">
                                    <button class="btn-option btn-option-alarm" data-toggle="modal"
                                            data-target="#exampleModalCenteralarm">
                                        <i class="mdi mdi-bell-outline"></i>
                                        <span class="tooltip-short">اطلاع‌رسانی</span>
                                    </button>
                                </li>
                                <li class="option-alarm">
                                    <a href="product-comparison.html" class="btn-option btn-option-comparison">
                                        <i class="mdi mdi-compare"></i>
                                        <span class="tooltip-short">مقایسه</span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog"
                     aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalCenterTitle">
                                    اشتراک گذاری در شبکه های
                                    اجتماعی
                                </h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="form-share-row">
                                <div class="form-share-col">
                                    <ul class="btn-group-share">
                                        <li>
                                            <a href="#" class="btn-share btn-share-twitter">
                                                <i class="fa fa-twitter"></i>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#" class="btn-share btn-share-facebook">
                                                <i class="fa fa-facebook"></i>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#" class="btn-share btn-share-whatsapp">
                                                <i class="fa fa-whatsapp"></i>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="form-share-title">ارسال به ایمیل</div>
                            <form for="#" class="send-to-email">
                                <div class="form-share-row">
                                    <div class="form-share-col">
                                        <input name="email" class="input-send-to-email" type="email"
                                               placeholder="آدرس ایمیل را وارد نمایید.">
                                    </div>
                                </div>
                                <div class="form-share-row">
                                    <div class="form-share-col">
                                        <div class="btn-send-email">ارسال</div>
                                    </div>
                                </div>
                            </form>
                            <div class="form-share-row">
                                <div class="form-share-col">
                                    <input class="ui-url-field" type="url"
                                           value="https://www.digikala.com/product/dkp-1672478" readonly="">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="modal fade" id="exampleModalCenteralarm" tabindex="-1" role="dialog"
                     aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalCenterTitle">
                                    به من اطلاع بده
                                </h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <form action="#" class="form-notification">
                                    <div class="form-notification-title">اطلاع به من در زمان:</div>
                                    <div class="form-notification-row">
                                        <div class="form-notification-col">
                                            <div class="form-notification-status">
                                                پیشنهاد شگفت‌انگیز
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-notification-title">از طریق:</div>
                                    <div class="form-notification-row">
                                        <div class="form-notification-col">
                                            <ul class="form-notification-params">
                                                <li>
                                                    <div class="form-auth-row">
                                                        <label class="ui-checkbox">
                                                            <input type="checkbox" value="1" name="login"
                                                                   id="remember1">
                                                            <span class="ui-checkbox-check"></span>
                                                        </label>
                                                        <label for="remember1" class="remember-me">
                                                            ایمیل به
                                                            <span class="js-observed-user-email">09911234567</span>
                                                        </label>
                                                    </div>
                                                </li>
                                                <li>
                                                    <div class="form-auth-row">
                                                        <label class="ui-checkbox">
                                                            <input type="checkbox" value="1" name="login"
                                                                   id="remember2">
                                                            <span class="ui-checkbox-check"></span>
                                                        </label>
                                                        <label for="remember2" class="remember-me">
                                                            پیامک به
                                                            <span class="js-observed-user-email">09911234567</span>
                                                        </label>
                                                    </div>
                                                </li>
                                                <li>
                                                    <div class="form-auth-row">
                                                        <label class="ui-checkbox">
                                                            <input type="checkbox" value="1" name="login"
                                                                   id="remember3">
                                                            <span class="ui-checkbox-check"></span>
                                                        </label>
                                                        <label for="remember3" class="remember-me">
                                                            سیستم پیام شخصی
                                                            دیجی‌کالا
                                                        </label>
                                                    </div>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </form>
                            </div>
                            <div class="modal-footer d-block text-right">
                                <button type="button" class="btn btn-primary ml-2">ثبت</button>
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">بازگشت</button>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Modal alarm -->
                <div class="col-lg-8 col-md-12 col-xs-12 pull-left px-0">
                    <section class="product-info">
                        <div class="product-headline">
                            <div class="product-title-container">
                                <div class="product-directory">
                                    <ul class="mb-0">
                                        <li>
                                            <a href="#" class="link-border">
                                                @Html.Raw(Model.DetailProduct.CategoryFa)
                                            </a>
                                        </li>
                                        <li>
                                            <span>/</span>
                                        </li>
                                        <li>
                                            <a href="#" class="link-border">
                                                @Html.Raw(Model.DetailProduct.BrandName)
                                            </a>
                                        </li>
                                    </ul>
                                    <h1 class="product-title">
                                        @Html.Raw(Model.DetailProduct.FaTitle)
                                    </h1>
                                </div>
                            </div>
                        </div>
                        <div class="product-attributes">
                            <div class="col-lg-8 col-md-8 col-xs-12 pull-right pr-0">
                                <div class="product-config">
                                    <span class="product-title-en">
                                        @Html.Raw(Model.DetailProduct.EnTitle)

                                    </span>
                                    <div class="product-engagement">
                                        <div class="product-engagement-item">
                                            <div class="product-engagement-rating">
                                                ۳.۷
                                                <span class="product-engagement-rating-num">
                                                    (۳)
                                                </span>
                                            </div>
                                        </div>
                                        <div class="product-engagement-item">
                                            <div class="product-engagement-set"></div>
                                            <div class="product-engagement-link" data-activate-tab="comments">
                                                ۸۱
                                                دیدگاه کاربران
                                            </div>
                                        </div>
                                        <div class="product-engagement-item">
                                            <div class="product-engagement-set"></div>
                                            <div class="product-engagement-link" data-activate-tab="questions">
                                                ۱۴
                                                پرسش و پاسخ
                                            </div>
                                        </div>
                                    </div>
                                    <div class="product-config-wrapper">
                                        <div class="product-variants">
                                            <span>انتخاب رنگ: </span>
                                            <ul>
                                                @foreach (var item in Model.GetProductPrice.GroupBy(x => x.ColorId))
                                                {
                                                    <li class="js-c-ui-variant">

                                                        <label class="ui-variant-color">
                                                            <span class="ui-variant-shape"
                                                                  style="background-color: @item.First().ColorCode"></span>
                                                            <input data-id="@item.Key" type="radio" value="4" name="color" id="variant"
                                                                   class="js-variant-selector color-id">
                                                            <span class="ui-variant-check"></span>
                                                        </label>
                                                    </li>
                                                }

                                            </ul>
                                        </div>
                                        <div class="product-params">
                                            <ul>
                                                <li class="title-product-features">
                                                    ویژگی‌های محصول
                                                </li>

                                                @* نمایش 3 ویژگی اول همیشه *@
                                                @for (int i = 0; i < Model.GetProperty.Count; i++)
                                                {
                                                    var item = Model.GetProperty[i];
                                                    var isHidden = i >= 3 ? "hidden-feature" : ""; // ویژگی‌های بعد از 3 تا مخفی می‌شوند
                                                    <li class="@isHidden">
                                                        <span>@item.NameTitle: </span>
                                                        <span>@item.Value</span>
                                                    </li>
                                                }

                                                <li class="product-params-more-handler">
                                                    <a href="#" class="link-border" id="toggleFeatures">
                                                        <span class="show-moree">موارد بیشتر</span>
                                                        <span class="show-lesss" style="display:none;">بستن</span>
                                                    </a>
                                                </li>
                                            </ul>
                                            <div class="product-additional-info">
                                                <div class="product-additional-item">
                                                    <p>
                                                        هشدار سامانه همتا: حتما در زمان تحویل دستگاه، به کمک کد
                                                        فعال‌سازی
                                                        چاپ شده روی جعبه یا کارت گارانتی، دستگاه را از طریق #7777*،
                                                        برای
                                                        سیم‌کارت خود فعال‌سازی کنید. آموزش تصویری در آدرس اینترنتی
                                                        hmti.ir/05
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-4 col-xs-12 pull-left sticky-sidebar" style="padding:0">
                                <div class="product-seller-info">
                                    <div class="js-seller-info-changable">
                                        <div class="product-seller-row">
                                            <div class="product-seller-first-line d-inline-block">فروشنده:</div>
                                            <a href="#" class="js-seller-count-row">
                                                <span class="js-seller-count u-text-bold length-seller"></span>
                                                <span class="u-text-bold"> فروشنده</span>
                                                دیگر
                                            </a>
                                        </div>
                                        <div class="product-seller-row product-seller-row-guarantee">
                                            <div class="js-guarantee-text">
                                                <i class="mdi mdi-check"></i>
                                                <span class="guarantee-name"></span>
                                            </div>
                                        </div>
                                        <div class="product-seller-row js-seller-info-shipment">
                                            <div class="js-guarantee-text">
                                                <i class="mdi mdi-content-save-outline"></i>
                                                <span class="js-inventory"></span>
                                            </div>
                                            <div class="product-delivery-warehouse">آماده ارسال</div>
                                        </div>
                                        <div class="product-seller-row">
                                            <div class="product-seller-digiclub">
                                                <img src="/assets/images/digiclub.png" alt="digiclub">
                                                <div>
                                                    <span>@Model.DetailProduct.Score</span>
                                                    امتیاز دیجی‌کلاب
                                                </div>
                                            </div>
                                        </div>
                                        <div class="product-seller-row">
                                            <div class="product-seller-row-price">
                                                <div class="product-seller-price-label">
                                                    قیمت فروشنده
                                                </div>
                                                <div class="product-seller-price-real">
                                                    <div class="product-seller-price-prev"><span class="js-price"></span></div>
                                                    تومان
                                                </div>
                                            </div>
                                            <div class="product-remaining-in-stock-parent">
                                                <div class="cart-view-count">
                                                    <i class="mdi mdi-eye-outline"></i>
                                                    ۱۰+
                                                    نفر در حال بازدید این کالا می‌باشند.
                                                </div>
                                            </div>
                                            <a href="javascript:void(0);"
                                               class="btn-add-to-cart add-product-price-a"
                                               data-product-id="@Model.GetProductPrice.FirstOrDefault()?.ProductPriceId">
                                                <span class="btn-add-to-cart-txt">
                                                    افزودن
                                                    به سبد خرید
                                                </span>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="product-feature-body">
                            <div class="product-feature">
                                <div class="row">
                                    <div class="product-feature-col">
                                        <a href="#" class="product-feature-item">
                                            <img src="/assets/images/footer-svg/delivery.svg" alt="delivery">
                                            <span>
                                                امکان تحویل
                                                <br>
                                                اکسپرس
                                            </span>
                                        </a>
                                    </div>

                                    <div class="product-feature-col">
                                        <a href="#" class="product-feature-item">
                                            <img src="/assets/images/footer-svg/contact-us.svg" alt="contact-us"
                                                 style="width:35px;">
                                            <span>
                                                ۷ روز هفته
                                                <br>
                                                ۲۴ ساعته
                                            </span>
                                        </a>
                                    </div>

                                    <div class="product-feature-col">
                                        <a href="#" class="product-feature-item">
                                            <img src="/assets/images/footer-svg/payment-terms.svg"
                                                 alt="payment-terms" style="width:35px;">
                                            <span>
                                                امکان
                                                <br>
                                                پرداخت در محل
                                            </span>
                                        </a>
                                    </div>

                                    <div class="product-feature-col">
                                        <a href="#" class="product-feature-item">
                                            <img src="/assets/images/footer-svg/origin-guarantee.svg"
                                                 alt="origin-guarantee" style="width:35px;">
                                            <span>
                                                ضمانت
                                                <br>
                                                اصل بودن کالا
                                            </span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                </div>
            </article>

            <div class="box-suppliers">
                <div class="box-suppliers-headline-container">
                    <div class="headline-delivery">
                        <span>لیست فروشندگان این کالا</span>
                    </div>
                    <a href="#" class="link-border" style="float:left;">کالای خود را در دیجی‌استور بفروشید</a>
                </div>
                <div class="table-suppliers">
                    <div class="table-suppliers-body sellers">
                        <!-- اینجا لیست فروشندگان اضافه می‌شود -->
                    </div>
                    <div class="table-suppliers-more">
                        <a href="#" class="link-border toggle-sellers">
                            <span class="show-more more-suppliers-count">مشاهده ( فروشنده / گارانتی بیشتر )</span>
                            <span class="show-less" style="display:none;">مشاهده کمتر</span>
                        </a>
                    </div>
                </div>
            </div>

            <div class="p-tabs">
                <div class="col-lg-9 col-md-12 col-xs-12 pull-right p-0 res-w">
                    <div class="tab-box">
                        <ul class="nav nav-tabs" id="myTab" role="tablist">
                            <li class="nav-item" role="presentation">
                                <button class="nav-link active" id="Review-tab" data-toggle="tab" data-target="#Review"
                                        type="button" role="tab" aria-controls="Review" aria-selected="true">
                                    نقد و
                                    بررسی
                                </button>
                            </li>
                            <li class="nav-item property-product" role="presentation">
                                <button class="nav-link property-product @(Model.GetReview ==null?"active":"")" id="Specifications-tab" data-toggle="tab"
                                        data-target="#Specifications" type="button" role="tab"
                                        aria-controls="Specifications" aria-selected="false">
                                    مشخصات
                                </button>
                            </li>
                            <li class="nav-item" role="presentation">
                                <button class="nav-link" id="User-comments-tab" data-toggle="tab"
                                        data-target="#User-comments" type="button" role="tab" aria-controls="User-comments"
                                        aria-selected="false">
                                    نظرات کاربران
                                </button>
                            </li>
                            <li class="nav-item FaqQuestion" role="presentation">
                                <button class="nav-link FaqQuestion" id="question-and-answer-tab" data-toggle="tab"
                                        data-target="#question-and-answer" type="button" role="tab"
                                        aria-controls="question-and-answer" aria-selected="false">
                                    پرسش و پاسخ
                                </button>
                            </li>
                        </ul>
                    </div>
                    <div class="tab-content" id="myTabContent">
                        <div class="tab-pane fade show active" id="Review" role="tabpanel"
                             aria-labelledby="Review-tab">
                            <h2 class="params-headline">
                                نقد و بررسی اجمالی
                                <span>
                                    @Html.Raw(Model.DetailProduct.EnTitle)
                                </span>
                            </h2>
                            <section class="content-expert-summary">
                                <div class="is-masked">
                                    <div class="mask-text-product-summary">
                                        <p>
                                            @Html.Raw(Model.GetReview.Review)
                                        </p>
                                    </div>
                                    <a href="#" class="mask-handler">
                                        <span class="show-more">ادامه مطلب</span>
                                        <span class="show-less">بستن</span>
                                    </a>
                                    <div class="shadow-box"></div>
                                </div>
                            </section>
                            <section class="content-expert-stats row">
                                <div class="col-8 pull-right">
                                    <div class="content-expert-stats-left">
                                        <div class="content-expert-evaluation">
                                            <div class="col-lg-5 col-md-5 col-xs-12 pull-right"
                                                 style="padding:0;">
                                                <div class="content-expert-evaluation-positive">
                                                    <span>نقاط قوت</span>
                                                    <ul>
                                                        @foreach (var item in Model.GetReview.Positive.Split("-", StringSplitOptions.RemoveEmptyEntries))
                                                        {
                                                            <li>@item</li>
                                                        }
                                                    </ul>
                                                </div>
                                            </div>
                                            <div class="col-lg-5 col-md-5 col-xs-12 pull-right"
                                                 style="padding:0;">
                                                <div class="content-expert-evaluation-negative">
                                                    <span>نقاط ضعف</span>
                                                    <ul>
                                                        @foreach (var item in Model.GetReview.Negative.Split("-", StringSplitOptions.RemoveEmptyEntries))
                                                        {
                                                            <li>@item</li>
                                                        }
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </section>
                        </div>
                        <div class="tab-pane fade partial-propertyvalue" id="Specifications" role="tabpanel"
                             aria-labelledby="Specifications-tab">
                        </div>
                        <div class="tab-pane fade" id="User-comments" role="tabpanel"
                             aria-labelledby="User-comments-tab">
                            <h2 class="comments-headline">
                                امتیاز کاربران به:
                                <span>
                                    <span>
                                        Xiaomi Redmi Note 10 M2101K7AG Dual SIM 128GB And 6GB RAM Mobile
                                        Phone
                                    </span>
                                </span>
                            </h2>
                            <div class="comments-summary">
                                <div class="col-lg-3 col-md-3 col-xs-12 pull-right sticky-sidebar">
                                    <div class="comments-summary-box">
                                        <div class="comments-side-rating-container">
                                            <div class="comments-side-rating">
                                                <div class="comments-side-rating-main">۳.۷</div>
                                                <div class="comments-side-rating-desc">از ۵</div>
                                            </div>
                                            <div class="comments-side-rating-bottom">
                                                <div class="product-star mb-3">
                                                    <i class="fa fa-star active"></i>
                                                    <i class="fa fa-star active"></i>
                                                    <i class="fa fa-star active"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                </div>
                                                <div class="comments-side-rating-all">
                                                    از مجموع ۸۳ امتیاز
                                                </div>
                                            </div>
                                        </div>
                                        <ul class="comments-item-rating">
                                            <li>
                                                <div class="cell">کیفیت ساخت:</div>
                                                <div class="cell-2">
                                                    <div class="rating rating-general js-rating">
                                                        <div class="rating-rate"></div>
                                                    </div>
                                                    <span class="rating-overall-word">۳.۷</span>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="cell">ارزش خرید به نسبت قیمت:</div>
                                                <div class="cell-2">
                                                    <div class="rating rating-general js-rating">
                                                        <div class="rating-rate"></div>
                                                    </div>
                                                    <span class="rating-overall-word">۳.۷</span>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="cell">نوآوری:</div>
                                                <div class="cell-2">
                                                    <div class="rating rating-general js-rating">
                                                        <div class="rating-rate"></div>
                                                    </div>
                                                    <span class="rating-overall-word">۳.۷</span>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="cell">امکانات و قابلیت ها:</div>
                                                <div class="cell-2">
                                                    <div class="rating rating-general js-rating">
                                                        <div class="rating-rate"></div>
                                                    </div>
                                                    <span class="rating-overall-word">۳.۷</span>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="cell">سهولت استفاده:</div>
                                                <div class="cell-2">
                                                    <div class="rating rating-general js-rating">
                                                        <div class="rating-rate"></div>
                                                    </div>
                                                    <span class="rating-overall-word">۳.۷</span>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="cell">طراحی و ظاهر:</div>
                                                <div class="cell-2">
                                                    <div class="rating rating-general js-rating">
                                                        <div class="rating-rate"></div>
                                                    </div>
                                                    <span class="rating-overall-word">۳.۷</span>
                                                </div>
                                            </li>

                                        </ul>
                                    </div>

                                    <div class="comments-summary-note">
                                        <span>دیدگاه خود را درباره این کالا بیان کنید</span>
                                        <div class="parent-btn">
                                            <button class="dk-btn dk-btn-info">
                                                افزودن نظر جدید
                                                <i class="fa fa-comments sign-in"></i>
                                            </button>
                                        </div>
                                        <div class="comments-dc-touch">
                                            <div class="comments-dc-touch-title">۵ امتیاز دیجی‌کلاب</div>
                                            <div class="comments-dc-touch-desc">
                                                با بیان دیدگاه برای این کالا
                                                دریافت
                                                کنید
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-9 col-md-9 col-xs-12 pull-left">
                                    <div id="product-comment-list">
                                        <ul class="comments-list">
                                            <li>
                                                <section>
                                                    <div class="col-lg-4 col-md-5 col-xs-12 pull-right">
                                                        <div class="aside">
                                                            <div class="message-light">
                                                                <span class="mdi mdi-cart"></span>
                                                                خریدار این محصول
                                                            </div>
                                                            <ul class="comments-user-shopping">
                                                                <li>
                                                                    <div class="cell">
                                                                        رنگ خریداری شده:
                                                                    </div>
                                                                    <div class="color-cell">
                                                                        <span class="shopping-color-value"></span>آبی
                                                                    </div>
                                                                </li>
                                                                <li>
                                                                    <div class="cell">
                                                                        خریداری شده از:
                                                                    </div>
                                                                    <div class="color-cell">
                                                                        <span class="mdi mdi-home"></span>
                                                                        <a href="#"
                                                                           class="link-border">
                                                                            دی
                                                                            جی لند
                                                                            پلاس
                                                                        </a>
                                                                    </div>
                                                                </li>
                                                                <li>
                                                                    <div class="cell">قیمت خرید:</div>
                                                                    <div class="bought-price">
                                                                        ۴,۳۷۵,۰۰۰تومان
                                                                    </div>
                                                                </li>
                                                                <li>
                                                                    <div class="cell">تاریخ خرید:</div>
                                                                    <div class="bought-price">
                                                                        بیش از سه
                                                                        ماه
                                                                        پیش
                                                                    </div>
                                                                </li>
                                                            </ul>
                                                            <div class="message-light opinion-positive">
                                                                <span class="fa fa-thumbs-o-up"></span>
                                                                خریدار این محصول
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-8 col-md-7 col-xs-12 pull-left">
                                                        <div class="article">
                                                            <div class="header">
                                                                <div>
                                                                    ارسال رم 4 بجای رم 6
                                                                    <span>
                                                                        توسط حسن شجاعی در تاریخ ۱۳
                                                                        خرداد
                                                                        ۱۳۹۸
                                                                    </span>
                                                                </div>
                                                            </div>
                                                            <p>
                                                                از دیجیکالا خواهش میکنم زمان ثبت مشخصات،
                                                                دقت
                                                                لازم رو
                                                                داشته
                                                                باشند...<br>
                                                                این گوشی، گوشی بسیار خوبی هست، اما من
                                                                زمانی
                                                                که توی
                                                                مشخصات
                                                                نوشته
                                                                بود رم 6 هست، خریدمش! اما پس از ارسال،
                                                                رمش 4
                                                                بود که
                                                                از پست
                                                                تحویل
                                                                نگرفتم و مرجوعش کردم! هزینه ش فقط زمانی
                                                                بود
                                                                که از
                                                                دست رفت!
                                                                وقتی
                                                                میتونستم داخل شهر رم 4ش رو با قیمتی
                                                                بسیار
                                                                کمتر
                                                                بخرم!<br>
                                                                انشالله سری بعد در ثبت مشخصات کالا دقت
                                                                لازم
                                                                بکار
                                                                گرفته
                                                                شود...
                                                            </p>
                                                            <div class="footer">
                                                                <div class="comment-like-container">
                                                                    آیا
                                                                    این
                                                                    نظر
                                                                    برایتان مفید
                                                                    بود؟
                                                                    <button class="btn-like"
                                                                            data-counter="۱,۵۲۸">
                                                                        بله
                                                                    </button>
                                                                    <button class="btn-like"
                                                                            data-counter="۷۹">
                                                                        خیر
                                                                    </button>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </section>
                                                <section>
                                                    <div class="col-lg-4 col-md-5 col-xs-12 pull-right">
                                                        <div class="aside">
                                                            <div class="message-light">
                                                                <span class="mdi mdi-cart"></span>
                                                                خریدار این محصول
                                                            </div>
                                                            <ul class="comments-user-shopping">
                                                                <li>
                                                                    <div class="cell">
                                                                        رنگ خریداری شده:
                                                                    </div>
                                                                    <div class="color-cell">
                                                                        <span class="shopping-color-value"></span>آبی
                                                                    </div>
                                                                </li>
                                                                <li>
                                                                    <div class="cell">
                                                                        خریداری شده از:
                                                                    </div>
                                                                    <div class="color-cell">
                                                                        <span class="mdi mdi-home"></span>
                                                                        <a href="#"
                                                                           class="link-border">
                                                                            دی
                                                                            جی لند
                                                                            پلاس
                                                                        </a>
                                                                    </div>
                                                                </li>
                                                                <li>
                                                                    <div class="cell">قیمت خرید:</div>
                                                                    <div class="bought-price">
                                                                        ۴,۳۷۵,۰۰۰تومان
                                                                    </div>
                                                                </li>
                                                                <li>
                                                                    <div class="cell">تاریخ خرید:</div>
                                                                    <div class="bought-price">
                                                                        بیش از سه
                                                                        ماه
                                                                        پیش
                                                                    </div>
                                                                </li>
                                                            </ul>
                                                            <div class="message-light opinion-positive">
                                                                <span class="fa fa-thumbs-o-up"></span>
                                                                خریدار این محصول
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-8 col-md-7 col-xs-12 pull-left">
                                                        <div class="article">
                                                            <div class="header">
                                                                <div>
                                                                    ارسال رم 4 بجای رم 6
                                                                    <span>
                                                                        توسط حسن شجاعی در تاریخ ۱۳
                                                                        خرداد
                                                                        ۱۳۹۸
                                                                    </span>
                                                                </div>
                                                            </div>
                                                            <p>
                                                                از دیجیکالا خواهش میکنم زمان ثبت مشخصات،
                                                                دقت
                                                                لازم رو
                                                                داشته
                                                                باشند...<br>
                                                                این گوشی، گوشی بسیار خوبی هست، اما من
                                                                زمانی
                                                                که توی
                                                                مشخصات
                                                                نوشته
                                                                بود رم 6 هست، خریدمش! اما پس از ارسال،
                                                                رمش 4
                                                                بود که
                                                                از پست
                                                                تحویل
                                                                نگرفتم و مرجوعش کردم! هزینه ش فقط زمانی
                                                                بود
                                                                که از
                                                                دست رفت!
                                                                وقتی
                                                                میتونستم داخل شهر رم 4ش رو با قیمتی
                                                                بسیار
                                                                کمتر
                                                                بخرم!<br>
                                                                انشالله سری بعد در ثبت مشخصات کالا دقت
                                                                لازم
                                                                بکار
                                                                گرفته
                                                                شود...
                                                            </p>
                                                            <div class="footer">
                                                                <div class="comment-like-container">
                                                                    آیا
                                                                    این
                                                                    نظر
                                                                    برایتان مفید
                                                                    بود؟
                                                                    <button class="btn-like"
                                                                            data-counter="۱,۵۲۸">
                                                                        بله
                                                                    </button>
                                                                    <button class="btn-like"
                                                                            data-counter="۷۹">
                                                                        خیر
                                                                    </button>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </section>
                                                <section>
                                                    <div class="col-lg-4 col-md-5 col-xs-12 pull-right">
                                                        <div class="aside">
                                                            <div class="message-light">
                                                                <span class="mdi mdi-cart"></span>
                                                                خریدار این محصول
                                                            </div>
                                                            <ul class="comments-user-shopping">
                                                                <li>
                                                                    <div class="cell">
                                                                        رنگ خریداری شده:
                                                                    </div>
                                                                    <div class="color-cell">
                                                                        <span class="shopping-color-value"></span>آبی
                                                                    </div>
                                                                </li>
                                                                <li>
                                                                    <div class="cell">
                                                                        خریداری شده از:
                                                                    </div>
                                                                    <div class="color-cell">
                                                                        <span class="mdi mdi-home"></span>
                                                                        <a href="#"
                                                                           class="link-border">
                                                                            دی
                                                                            جی لند
                                                                            پلاس
                                                                        </a>
                                                                    </div>
                                                                </li>
                                                                <li>
                                                                    <div class="cell">قیمت خرید:</div>
                                                                    <div class="bought-price">
                                                                        ۴,۳۷۵,۰۰۰تومان
                                                                    </div>
                                                                </li>
                                                                <li>
                                                                    <div class="cell">تاریخ خرید:</div>
                                                                    <div class="bought-price">
                                                                        بیش از سه
                                                                        ماه
                                                                        پیش
                                                                    </div>
                                                                </li>
                                                            </ul>
                                                            <div class="message-light opinion-positive">
                                                                <span class="fa fa-thumbs-o-up"></span>
                                                                خریدار این محصول
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-8 col-md-7 col-xs-12 pull-left">
                                                        <div class="article">
                                                            <div class="header">
                                                                <div>
                                                                    ارسال رم 4 بجای رم 6
                                                                    <span>
                                                                        توسط حسن شجاعی در تاریخ ۱۳
                                                                        خرداد
                                                                        ۱۳۹۸
                                                                    </span>
                                                                </div>
                                                            </div>
                                                            <p>
                                                                از دیجیکالا خواهش میکنم زمان ثبت مشخصات،
                                                                دقت
                                                                لازم رو
                                                                داشته
                                                                باشند...<br>
                                                                این گوشی، گوشی بسیار خوبی هست، اما من
                                                                زمانی
                                                                که توی
                                                                مشخصات
                                                                نوشته
                                                                بود رم 6 هست، خریدمش! اما پس از ارسال،
                                                                رمش 4
                                                                بود که
                                                                از پست
                                                                تحویل
                                                                نگرفتم و مرجوعش کردم! هزینه ش فقط زمانی
                                                                بود
                                                                که از
                                                                دست رفت!
                                                                وقتی
                                                                میتونستم داخل شهر رم 4ش رو با قیمتی
                                                                بسیار
                                                                کمتر
                                                                بخرم!<br>
                                                                انشالله سری بعد در ثبت مشخصات کالا دقت
                                                                لازم
                                                                بکار
                                                                گرفته
                                                                شود...
                                                            </p>
                                                            <div class="footer">
                                                                <div class="comment-like-container">
                                                                    آیا
                                                                    این
                                                                    نظر
                                                                    برایتان مفید
                                                                    بود؟
                                                                    <button class="btn-like"
                                                                            data-counter="۱,۵۲۸">
                                                                        بله
                                                                    </button>
                                                                    <button class="btn-like"
                                                                            data-counter="۷۹">
                                                                        خیر
                                                                    </button>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </section>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>


                        <div class="tab-pane fade FAQContent" id="question-and-answer" role="tabpanel"
                             aria-labelledby="question-and-answer-tab">
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-xs-12 pull-left sticky-sidebar">
                    <div class="mini-buy-box-fixed">
                        <div class="mini-buy-box js-mini-buy-box">
                            <div class="mini-buy-box-product-info">
                                <img src="@PathTools.PathProductImageClient/@Html.Raw(Model.DetailProduct.ImageName)"
                                     class="mini-buy-box-product-info-img" alt="img-slider">
                                <div class="mini-buy-box-product-info-info">
                                    <div class="title">
                                        @Html.Raw(Model.DetailProduct.FaTitle)
                                    </div>
                                </div>
                            </div>
                            <div class="mini-buy-box-row mini-buy-box-seller js-mini-not-digikala-seller">
                                <i class="mdi mdi-storefront"></i>
                                <label class="js-mini-seller-name">
                                    @Html.Raw(Model.GetSeller.FirstOrDefault()?.SellerName)
                                </label>
                            </div>
                            <div class="mini-buy-box-row mini-buy-box-warranty">
                                <i class="mdi mdi-check"></i>
                                <span class="guarantee-name"></span>
                            </div>
                            <div class="mini-buy-box-row mini-buy-box-stock">
                                <i class="mdi mdi-content-save-outline"></i>
                                <span class="js-inventory"></span>
                            </div>
                            <div class="product-seller-row product-seller-row-price mini-buy-box-price-row">
                                <div class="product-mini-seller-price-real">
                                    <div class="product-mini-seller-price-pure js-price-value d-inline-block">
                                        <span class="js-price"></span>
                                    </div>
                                    <span class="mini-buy-box-toman">تومان</span>
                                </div>
                            </div>
                            <div class="mini-buy-box-btn-row">
                                <a href="javascript:void(0);"
                                   class="btn-add-to-cart add-product-price-a"
                                   data-product-id="@Model.GetProductPrice.FirstOrDefault()?.ProductPriceId">
                                    <span class="btn btn-danger product-add-to-cart-btn btn-add-to-cart-txt">
                                        افزودن
                                        به سبد خرید
                                    </span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
@section Scripts {

    <partial name="_RequestAjaxPartial" />
    <partial name="_UpdateProductjsPartial" />
    <partial name="_showMoreText" />
}