@using GameOnline.Core.ExtenstionMethods
@model IEnumerable<GameOnline.Core.ViewModels.ProductViewmodel.Client.GetProductForCategoryViewmodel>
@{
}
<main class="contentM">

    @await Component.InvokeAsync("MainSliderComponents")

    <section class="section-slider amazing-section mb-3 mt-4" style="background: rgb(239, 57, 78);">
        <div class="container-amazing">
            <div class="container-main">
                <div>
                    <div class="col-lg-3 display-md-none pull-right">
                        <div class="amazing-product text-center mt-5">
                            <a href="#">
                                <img src="/assets/images/amazing/amazing.png" alt="amazing">
                            </a>
                            <a href="#" class="view-all-amazing-btn">
                                مشاهده همه
                                <i class="uil uil-angle-left"></i>
                            </a>
                        </div>
                    </div>
                    <div class="col-lg-9 col-md-12 pull-left">
                        <div class="section-slider-content">
                            <div class="section-slider-product slider-amazing mt-3">
                                <div class="widget widget-product card" style="margin:0;">
                                    <header class="card-header card-header-amazing">
                                        <span class="title-one">پیشنهاد شگفت انگیز</span>
                                        <a class="card-title pull-left">مشاهده همه</a>
                                    </header>
                                    <div class="product-carousel owl-carousel owl-theme owl-rtl owl-loaded owl-drag">
                                        <div class="owl-stage-outer">
                                            <div class="owl-stage"
                                                 style="transform: translate3d(0px, 0px, 0px); transition: all 0s ease 0s; width: 2234px;">
                                                @foreach (var item in Model)
                                                {
                                                    <div class="owl-item active" style="width: 309.083px; margin-left: 10px;">
                                                        <div class="item">
                                                            <a href="Detail/@item.ProductId">
                                                                <img src="@PathTools.PathProductImageClient@item.ImageName"
                                                                     class="img-fluid" alt="@item.FaTitle">
                                                            </a>

                                                            <h2 class="post-title">
                                                                <a href="Detail/@item.ProductId">@item.FaTitle</a>
                                                            </h2>

                                                            <div class="price">
                                                                <div class="discount-item">
                                                                    <span>
                                                                        @{
                                                                            var discount = 100 - ((item.GetProductPrices.SpecialPrice.Value * 100) / item.GetProductPrices.MainPrice);
                                                                        }
                                                                        @discount ٪
                                                                    </span>
                                                                </div>

                                                                <del>
                                                                    <span>@item.GetProductPrices.MainPrice.Value.ToString("N0") <span>تومان</span></span>
                                                                </del>

                                                                <ins>
                                                                    <span>@item.GetProductPrices.SpecialPrice?.ToString("N0") <span>تومان</span></span>
                                                                </ins>
                                                            </div>

                                                            <div class="product-box-timer">
                                                                <span class="fa fa-clock-o"></span>
                                                                <div class="countdown countdown-style-3 h4"
                                                                     data-date-time="@item.GetProductPrices.EndDate?.ToString("MM/dd/yyyy HH:mm")"
                                                                     data-labels='{"label-second": "", "label-minute": "", "label-hour": ""}'>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                }
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <div class="container">

        <div class="row">
            <div class="adplacement">
                <div class="col-6 col-lg-3">
                    <a href="#" class="item-adplacement">
                        <img src="/assets/images/post-adplacement/1000012860.jpg" title="صوتی و تصویری"
                             alt="adplacement">
                    </a>
                </div>

                <div class="col-6 col-lg-3">
                    <a href="#" class="item-adplacement">
                        <img src="/assets/images/post-adplacement/1000012872.jpg" title="شوینده ظروف"
                             alt="adplacement">
                    </a>
                </div>

                <div class="col-6 col-lg-3">
                    <a href="#" class="item-adplacement">
                        <img src="/assets/images/post-adplacement/1000013192.jpg" title="افس" alt="adplacement">
                    </a>
                </div>

                <div class="col-6 col-lg-3">
                    <a href="#" class="item-adplacement">
                        <img src="/assets/images/post-adplacement/1000012909.jpg" title="مراقبت پوست و مو"
                             alt="adplacement">
                    </a>
                </div>
            </div>
        </div>
        <!--   adplacement -------------------->
        <div class="promotion-categories-container mt-4 mb-4">
            <h5 class="promotion-categories-title">دسته‌بندی‌های دیجی‌استور</h5>
            <div class="category-container">
                <div class="promotion-categories">
                    <a href="#" class="promotion-category">
                        <img src="/assets/images/category/digital.png" alt="promotion-categories">
                        <div class="promotion-category-name">کالای دیجیتال</div>
                    </a>
                    <a href="#" class="promotion-category">
                        <img src="/assets/images/category/Tool.png" alt="promotion-categories">
                        <div class="promotion-category-name">خودرو، ابزار و اداری</div>
                    </a>
                    <a href="#" class="promotion-category">
                        <img src="/assets/images/category/clothing.png" alt="promotion-categories">
                        <div class="promotion-category-name">مد و پوشاک</div>
                    </a>
                    <a href="#" class="promotion-category">
                        <img src="/assets/images/category/supermarket.png" alt="promotion-categories">
                        <div class="promotion-category-name">کالای سوپرمارکتی</div>
                    </a>
                    <a href="#" class="promotion-category">
                        <img src="/assets/images/category/toy.png" alt="promotion-categories">
                        <div class="promotion-category-name">اسباب بازی، کودک و نوزاد</div>
                    </a>
                    <a href="#" class="promotion-category">
                        <img src="/assets/images/category/native.png" alt="promotion-categories">
                        <div class="promotion-category-name">محصولات بومی و محلی</div>
                    </a>
                    <a href="#" class="promotion-category">
                        <img src="/assets/images/category/Health.png" alt="promotion-categories">
                        <div class="promotion-category-name">زیبایی و سلامت</div>
                    </a>
                    <a href="#" class="promotion-category">
                        <img src="/assets/images/category/kitchen.png" alt="promotion-categories">
                        <div class="promotion-category-name">خانه و آشپزخانه</div>
                    </a>
                    <a href="#" class="promotion-category">
                        <img src="/assets/images/category/stationery.png" alt="promotion-categories">
                        <div class="promotion-category-name">کتاب، لوازم تحریر و هنر</div>
                    </a>
                    <a href="#" class="promotion-category">
                        <img src="/assets/images/category/Sport.png" alt="promotion-categories">
                        <div class="promotion-category-name">ورزش و سفر</div>
                    </a>
                </div>
            </div>
        </div>
        <div class="widget widget-product card">
            <header class="card-header">
                <span class="title-one">برندهای ویژه</span>
            </header>
            <div class="product-carousel brand-product owl-carousel owl-theme owl-rtl owl-loaded owl-drag">
                <div class="owl-stage-outer">
                    <div class="owl-stage">
                        <div class="owl-item">
                            <div class="item">
                                <a href="#">
                                    <img src="/assets/images/brand/1000005582.png" class="img-fluid" alt="brand">
                                </a>
                            </div>
                        </div>
                        <div class="owl-item">
                            <div class="item">
                                <a href="#">
                                    <img src="/assets/images/brand/1000006973.png" class="img-fluid" alt="brand">
                                </a>
                            </div>
                        </div>
                        <div class="owl-item">
                            <div class="item">
                                <a href="#">
                                    <img src="/assets/images/brand/1076.png" class="img-fluid" alt="brand">
                                </a>
                            </div>
                        </div>
                        <div class="owl-item">
                            <div class="item">
                                <a href="#">
                                    <img src="/assets/images/brand/1078.png" class="img-fluid" alt="brand">
                                </a>
                            </div>
                        </div>
                        <div class="owl-item">
                            <div class="item">
                                <a href="#">
                                    <img src="/assets/images/brand/1080.png" class="img-fluid" alt="brand">
                                </a>
                            </div>
                        </div>
                        <div class="owl-item">
                            <div class="item">
                                <a href="#">
                                    <img src="/assets/images/brand/1086.png" class="img-fluid" alt="brand">
                                </a>
                            </div>
                        </div>
                        <div class="owl-item">
                            <div class="item">
                                <a href="#">
                                    <img src="/assets/images/brand/2315.png" class="img-fluid" alt="brand">
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container">

        <div class="row">
            <div class="adplacement">
                <div class="col-lg-6 col-xs-12">
                    <a href="#" class="item-adplacement">
                        <img src="/assets/images/post-adplacement/1000013199.jpg" title="صوتی و تصویری"
                             alt="adplacement">
                    </a>
                </div>

                <div class="col-lg-6 col-xs-12">
                    <a href="#" class="item-adplacement">
                        <img src="/assets/images/post-adplacement/1000012919.jpg" title="شوینده ظروف" alt="adplacement">
                    </a>
                </div>
            </div>
        </div>
        <div class="widget widget-product card">
            @await Component.InvokeAsync("GetProductForCategoryComponent", 3)
        </div>
    </div>
    <div class="adplacement">
        <div class="col-6 col-lg-3">
            <a href="#" class="item-adplacement">
                <img src="/assets/images/post-adplacement/1000009159.jpg" title="صوتی و تصویری" alt="adplacement">
            </a>
        </div>

        <div class="col-6 col-lg-3">
            <a href="#" class="item-adplacement">
                <img src="/assets/images/post-adplacement/1000010064.jpg" title="شوینده ظروف" alt="adplacement">
            </a>
        </div>

        <div class="col-6 col-lg-3">
            <a href="#" class="item-adplacement">
                <img src="/assets/images/post-adplacement/1000005397.jpg" title="افس" alt="adplacement">
            </a>
        </div>

        <div class="col-6 col-lg-3">
            <a href="#" class="item-adplacement">
                <img src="/assets/images/post-adplacement/1000005393.jpg" title="مراقبت پوست و مو" alt="adplacement">
            </a>
        </div>
    </div>

    <div class="container">
        <div class="widget widget-product card">
            @await Component.InvokeAsync("GetProductForCategoryComponent", 4)
        </div>
    </div>

    <div class="container">
        <div class="widget widget-product card">
            @await Component.InvokeAsync("GetProductForCategoryComponent", 5)
        </div>

        <div class="widget widget-product card">
            @await Component.InvokeAsync("GetProductForCategoryComponent", 6)
        </div>
    </div>
</main>